* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27,27,27);
}

/* Header */
header {
    padding: 20px 50px; 
    text-align: center;
}
.header-elements{
    max-width: 1700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-elements h2{
    color: rgb(240,158,48);
    margin-left: 30px;
    font-size: 30px;
}
nav a {
    top: 10px;
    width: 100%;
    padding-right: 30px;
    color: rgb(114,114,114);
    text-decoration: none;
}

nav a:hover{
    color: rgb(240,158,48);
}

.contact-button{
    font-weight: bold;
    background-color: rgb(27,27,27); 
    color: rgb(114,114,114); 
    border-color:  rgb(240,158,48);
    border-radius: 50px; 
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 1.1em;
}

.contact-button:hover {
    background-color: #e67e22;
}
.title{
    color: rgb(240,158,48);
    font-size: 70px;
}

/* Hero */
#hero {
    position: relative;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    padding: 50px 0px;
}

.hero-content{
    position: relative;
    display: flex;
    z-index: 1;
    
}
.hero-text {
    width: 900px;
    padding: 100px 250px 100px 110px;
    background-color: #292929;
    border-radius: 0px 250px 250px 0px;
}

.hero-text h1 {
    font-size: 2.5em;
    color: #fffcfcea;
    line-height: 1.0;
}

.hero-text h1 span {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(240,158,48);
}

.hero-text p {
    color: rgb(114,114,114); 
    font-size: 20px;
    margin: 30px 0px 60px 10px;
}

.hero-text button {
    font-weight: bold;
    background-color: rgb(240,151,51);
    color:  rgb(27,27,27);
    border: none;
    padding: 15px 30px;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.hero-text button:hover {
    background-color: #e67e22;
}

.hero-img {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.hero-img img {
    background-color: #e67e22;
    position: relative;
    width: 400px;
    right: -300px;
    bottom: -20px;
    border-radius: 80px;
}

/* Sobre Mí */
#about {
    margin-top: 90px;
    padding: 80px 0;
    background-color: #292929;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-text {
    background-color: #494848;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-text:hover {
    transform: translateY(-5px);
}

.about-text h1{
    margin-bottom: 20px;
}
.about-text p {
    color: white;
    font-size: 20px;
    line-height: 1.5;
}


/* Checkout */
.checkout{
    color: #fff3f3d7;
    padding: 90px;
    display: flex;
    align-items: center; 
    position: relative;
}
.checkout p{
    font-size: 20px;
}

.checkout-img{
    padding: 2px 20px;
    position: relative;
}
.checkout-img img{
    background-color: #fff3f3d7;
    padding: 10px 10px;
    border-radius: 30px;
}

.checkout-img a :hover{
    background-color: #fff;
}

/* Servicios */
#services {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px 120px;
    align-items: center;
}

.services-content {
    margin-left: 120px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.services-content h1 {
    font-size: 70px;
    margin-bottom: 30px;
    color: rgb(240,158,48);
}

.services-content p {
    letter-spacing: 0.1em;
    color: rgb(187, 185, 185); 
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.stats div {
    text-align: left;
}

.stats div h3 {
    font-size: 3rem;
    margin: 0;
    color: rgb(240,158,48); 
}

.stats div p {
    color:rgb(187, 185, 185); 
    font-size: 1.1rem;
    margin: 0;
}

.services-list {
    margin-top: 90px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}

.service-item {
    position: relative;
    border: 0.5px solid #ffffff81;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: translateX(-30px);
}


.service-item img {
    background-color: rgb(240,158,48);
    border-radius: 50%;
    padding: 15px;
    margin-right: 30px;
}

.service-details {
    display: flex;
    flex-direction: column;
}

.service-item h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: rgb(240,158,48);
}

.service-item p {
    font-size: 1.1rem;
    margin: 0;
}

/* Habilidades y Experiencia */

#skillyexp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

#skillyexp p {
    padding: 30px;
    text-align: center;
    font-size: 1.3em;
    color: #bbb;
}

.skillyexp-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills, .experience {
    flex: 1;
    margin: 0 100px;
}

.skills h2, .experience h2 {
    font-size: 40px;
    color: rgb(240,158,48);
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.skills-grid, .experience-grid {
    display: grid;
    gap: 20px;
}

.skills-grid {
    grid-template-columns: repeat(3, 1fr);
}

.experience-grid {
    grid-template-rows: repeat(3,110px);
}

.skill-item, .exp-item {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.skill-item:hover, .exp-item:hover {
    transform: translateY(-10px);
}

.skill-item img {
    background-color: rgb(240,158,48);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.skill-details h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.exp-item {
    align-items: center;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    border-top: 2px solid rgb(255, 255, 255); 
    border-bottom: 2px solid rgb(255, 255, 255); 
    margin: 20px 0; 
}
.exp-item:hover {
    transform: translateY(-10px);
}

.exp-item h3 {
    white-space: nowrap;
    font-size: 24px;
    color: #fff;
}

.exp-item h4 {
    white-space: nowrap;
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
}


/* Proyectos */
#projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 10px;
}


.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.project-card {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 40vh;
}

.project-card img {
    width: 100%;
    height: 100%;
    display: block;
}

.project-card:hover {
    transform: scale(1.05);
}

.projects-navigation {
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.projects-navigation .dots-container {
    display: flex;
    align-items: center;
    margin-right: 680px; /
}

.projects-navigation .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.projects-navigation .dot.active {
    background-color: rgb(240,158,48);
}

.projects-navigation .view-all {
    color: rgb(240,158,48);
    margin-right: 40px;
    text-decoration: none;
    font-weight: bold;
}

.projects-navigation .view-all:hover {
    text-decoration: underline;
}

/* Testimonios */
#testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px;
}
.centered-line
{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    height: 45vh;
}

.testimonial-card img {
    width: 100%;
    height: 100%;
    display: block;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.testimonial-navigation {
    margin-top: 20px;
}

.testimonial-navigation .dot {
    height: 20px;
    width: 20px;
    margin: 50px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.testimonial-navigation .dot.active {
    background-color: rgb(240,158,48);
}


/* Footer */

footer{
    padding: 80px 0px;
    background-color: rgba(41, 41, 41, 0.8);
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.footer-content {
    margin-left: 120px;
    max-width: 1200px;
    animation: fadeInUp 1s ease forwards;
}

.footer-row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    animation: scaleIn 1s ease forwards;
}

.footer-content h1{
    font-size: 70px;
    margin-bottom: 30px;
    color: rgb(240,158,48);
}

.footer-content p{
    letter-spacing: 0.1em;
    color: rgb(187, 185, 185); 
    font-size: 1.3rem;
    margin-bottom: 10px;
}


#contact-list{
    margin-right: 150px;
}


.contact-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    transition: transform 0.3s;
}

.contact-item:hover {
    transform: translateX(-30px);
}

.contact-item img {
    height: 60px;
    width: 60px;
    background-color: rgb(240,158,48);
    border-radius: 50%;
    padding: 15px;
    margin-right: 30px;
}


.contact-item h3 {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: rgb(240,158,48);
}

.contact-item p {
    font-size: 1.1rem;
    margin: 0;
}

.contact-details {
    padding: 15px;
}

.quick-links{
    margin-left: 150px;
}

.quick-links h3{
    white-space: nowrap;
    color: rgb(240,158,48);
    font-size: 22px;
    margin-bottom: 10px;

}

.quick-links ul{
    color: white;
    list-style: none;
    padding: 0;
}

.quick-links a, .servicesfo a{
    text-decoration: none;
    color: white;
}

.quick-links a:hover{
    color: rgb(240,158,48);
}

.quick-links li{
    margin-bottom: 20px;
    font-size: 22px;
}

/* Responsive */

/* Para tamaños de pantalla hasta 320px */
@media (max-width: 320px) {
}

/* Para tamaños de pantalla entre 321px y 480px */
@media (min-width: 321px) and (max-width: 480px) {
}

/* Para tamaños de pantalla entre 481px y 768px */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Para tamaños de pantalla entre 769px y 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Para tamaños de pantalla entre 1025px y 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Para tamaños de pantalla entre 1281px y 1440px */
@media (min-width: 1281px) and (max-width: 1440px) {

}

/* Para tamaños de pantalla mayores o iguales a 1441px */
@media (min-width: 1441px) {
}

/* Para tamaños de pantalla mayores o iguales a 1920px */
@media (min-width: 1920px) {
}
