* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27,27,27);
}

header {
    padding: 20px 50px; 
    text-align: center;
}
.header-elements{
    max-width: 1700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav a {
    top: 10px;
    width: 100%;
    padding-right: 10px;
    color: rgb(87,87,87);
    text-decoration: none;
}

nav a:hover{
    color: rgb(240,158,48);
}

.contact-button{
    background-color: rgb(27,27,27); 
    color: rgb(87,87,87); 
    border-color:  rgb(240,158,48);
    border-radius: 50px; 
    padding: 10px 30px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: rgb(240,158,48);
}

.title{
    color: rgb(240,158,48);
    text-align: center;
}

.titleleft{
    color: rgb(240,158,48);
    text-align: left;
    padding-left: 90px;
}

.check{
    color: #fff;
    text-align: left;
    padding: 5rem 0;
    padding-left: 80px;

}
main {
    padding: 70px 0px; 
    text-align: center;
}
.about {
    max-width: 600px;
    border-radius: 20px;
    background: #333;
    color: #fff;
    text-align: left;
    padding: 90px 70px;
}

.talk-button{
    background-color: rgb(240,158,48);
    color:  rgb(27,27,27);
    border-color:  rgb(240,158,48);
    border-radius: 50px; 
    padding: 10px 30px;
    cursor: pointer;
}
.checkout{
    margin: 0 auto; 
    display: flex;
    align-items: center; 
}

footer {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}